body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;

}
nav ul{
    list-style: none;  
    padding: 0;        
    margin: 0;         
    display: flex;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}
nav li {
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    margin: 0 15px
}
nav li:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    padding: 2rem;
}
#destinations-container{
    display: flex;
    flex-direction: column;
}

.destination-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    overflow: hidden;
    padding: 10px;
}
.destination-card img {
    width: 100%;
    height: auto;
    object-fit: scale-down;
}
#map-container { 
    height: 180px; 
}
.search-container {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 12px 9px rgba(0, 0, 0, 0.1); /* -l/+r shadow | height | radius */
    /* overflow: hidden; */
    padding: 10px;
    gap: 10px;
    align-items: center; /* vertically center*/
}
.search-container label {
    font-size: large;
    margin-left: 10px

}
.search-container input {
    flex-grow: 1;
    padding: 5px 12px;
    font-size: large;
    border: 2px solid #4d4c4c;
    border-radius: 2px;
}
.search-container button {
    padding: 8px 15px;
    font-size: 16px; 
    cursor: pointer; /*show hand*/
    background-color: #333; 
    color: white;
    border: none; 
    border-radius: 5px;
    margin-right: 10px
}
.result-item { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 12px 9px rgba(0, 0, 0, 0.1); /* -l/+r shadow | height | radius */
    /* overflow: hidden; */
    padding: 10px;
    gap: 10px;
    align-items: center; /* vertically center*/
}
.result-item img {
    width: 100%;
    height: auto;
    object-fit: scale-down;
}
#detailed-destination-container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.261);
    margin-bottom: 1rem;
    overflow: hidden;
    padding: 10px;
}
#detailed-destination-container img{
    width: 100%;
    height: auto;
    object-fit: scale-down;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
}
@media (min-width: 768px) {
    #destinations-container {
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: space-evenly;
    }
    .destination-card {
        width: 50%;
        margin-inline: 1rem;
    }
}